<%- include('header') %>
<div class="container mt-5">
    <h1>Edit Book Ad</h1>
    <form action="/editBook/<%= book._id %>" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= book.title %>" required>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" name="category" value="<%= book.category %>" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="<%= book.price %>" required>
      </div>
      <div class="form-group">
        <label for="condition">Condition</label>
        <input type="text" class="form-control" id="condition" name="condition" value="<%= book.condition %>" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4" required><%= book.description %></textarea>
      </div>
      <div class="form-group">
        <label for="bookImages">Book Images</label>
        <input type="file" class="form-control-file" id="bookImages" name="bookImages" multiple>
        <small class="form-text text-muted">You can select multiple images by holding Ctrl/Cmd key.</small>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
<%- include('footer') %>
